# Dependency folders
node_modules/

# Environment variable files
.env

# Logs
*.log
logs/
npm-debug.log*

# Build output
dist/
build/

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# Editor or IDE folders
.vscode/
.idea/

# Runtime files
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# Temporary files
*.swp
*.tmp
*.bak

# Output of npm/yarn
.yarn/
.pnp/


saved_faces/